/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import url(http://fonts.googleapis.com/css?family=Poiret+One|Montez|Philosopher|Allura|Trochut|Oxygen:300,700|Lato:300,400|Titillium+Web|Open+Sans|Quattrocento+Sans);



.form-button {
  background-color:#57C2F7;
  border-top-left-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
  text-indent:0;
  display:inline-block;
  font-family: Lato;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:25px;
  line-height:20px;
  width:auto;
  text-decoration:none;
  text-align:center;
  color: black;
  margin-top: 20px;
}