// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail1 {
  border: 3px solid #772953;
  height: 200px;
  width: 300px;
  padding-top: 10px;
  background: asset-url(‘clock.jpg’);
}

.thumbnail2 {
  border: 3px solid #772953;
  height: 200px;
  width: 300px;
  padding-top: 10px;
  background: image-url(‘macandiphone.jpg’);
}

.thumbnail3 {
  border: 3px solid #772953;
  height: 200px;
  width: 300px;
  padding-top: 10px;
  background: image-url(‘clock.jpg’);
}


.row.home-thumbnails {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0;
}