// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-bg {
 /* height:100%;
  width:100%;*/
  position:absolute;
  left:40%;
  top:20%;
  background-color: #323B55;
  color: #fff;
  font-family: Verdana;
}


.login-container {
  background-color: #323B55;
  height: 100%;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
}

.button {
  color: black;
  font-family: Verdana;
}


.login-container label {
  color: white;
}

.pass-reset-link a {
  color: white;
  &:hover {
    background-color: transparent;
  }
}

.signup-link a {
  color: white;
  &:hover {
    background-color: transparent;
  }
}