// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  color: black;
  font-family: Verdana;
}

#map {
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  margin-bottom: 30px;
  border: 5px solid #772953;
}

.friends {
  margin-bottom: 5px;
  width: 50%;
}

.signup-bg {
 /* height:100%;
  width:100%;*/
  position:absolute;
  left:40%;
  top:20%;
  background-color: #323B55;
  color: #fff;
  font-family: Verdana;
}

.signup-container {
  background-color: #323B55;
  height: 100%;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
}

.label-tag-color {
  color: black;
}
